---
import CTAField from "../CTAField/CTAField.astro";

---

<section
    class="max-w-screen-container box-content px-6 mx-auto flex flex-col lg:flex-row items-center lg:justify-between gap-8 md:gap-10">
    <h2 class="text-blue-sj text-center lg:text-start text-8 sm:text-12 -tracking-25 md:-tracking-37 leading-[1.125] md:leading-h2">Ready to start?</h2>
    <div class="self-stretch flex justify-center md:self-center">
        <CTAField action="" name="footer-cta" placeholder="Enter email address" submitMessage="Schedule a Demo" />
    </div>
</section>