---
export interface Props {
    disabled?: boolean;
    full?: boolean;
}

const { disabled = false, full } = Astro.props;

const colorStyles = "text-white-link-water bg-pink-dark hover:bg-pink-charm focus-visible:bg-pink-charm focus-visible:outline focus-visible:outline-2 focus-visible:outline-pink-dark focus-visible:outline-offset-2";

let styles = full ? "w-full " + colorStyles : colorStyles;
---

<button disabled={disabled} class={styles
    + " min-h-[3rem] px-7 py-2 text-15 enabled:motion-safe:transition-colors enabled:motion-safe:ease-in-out disabled:opacity-50 -tracking-12 font-bold rounded-full "
    }>
    <slot />
</button>