---
export interface Props {
    href?: string;
    full?: boolean;
}

const { href, full } = Astro.props;

const colorStyles = "text-center leading-tight text-white-link-water bg-pink-dark hover:bg-pink-charm focus-visible:bg-pink-charm focus-visible:outline focus-visible:outline-2 focus-visible:outline-pink-dark focus-visible:outline-offset-2";

let styles = full ? "w-full " + colorStyles : colorStyles;
---

<a href={href || "#" } class={styles
    + " min-h-[3rem] inline-flex items-center justify-center px-7 py-2 text-15 motion-safe:transition-colors motion-safe:ease-in-out -tracking-12 font-bold rounded-full "
    }>
    <slot />
</a>