---
import Facebook from "./Facebook.astro";
import LinkedIn from "./LinkedIn.astro";
import Twitter from "./Twitter.astro";

export interface Props {
    facebookURL?: string;
    twitterURL?: string;
    linkedInURL?: string;
}

const { facebookURL, twitterURL, linkedInURL } = Astro.props as Props;
---

<ul class="flex items-center gap-6 p-0">
    <li>
        { facebookURL &&
        <Facebook url={facebookURL} />}
    </li>

    <li>
        { twitterURL &&
        <Twitter url={twitterURL} />}
    </li>

    <li>
        { linkedInURL &&
        <LinkedIn url={linkedInURL} />}
    </li>
</ul>