---
import FooterComponent from "../components/Footer/FooterComponent.astro";
import FooterCTA from "../components/FooterCTA/FooterCTA.astro";
import Header from "../components/Header/Header.astro";
import Clients from "../components/Index/Clients/Clients.astro";
import Features from "../components/Index/Features/Features.astro";
import Hero from "../components/Index/Hero/Hero.astro";
import Layout from "../layouts/Layout.astro"
---

<Layout pageClass="index">
	<Header />
	<main>
		<div class="mt-8 md:mt-12 lg:mt-[4.5rem]">
			<Hero />
		</div>

		<div class="mt-10 md:mt-25 lg:mt-[4.75rem]">
			<Clients />
		</div>

		<div>
			<Features />
		</div>

		<div class="mt-20 md:mt-25">
			<FooterCTA />
		</div>

		<div class="mt-20 md:mt-25">
			<FooterComponent />
		</div>
	</main>
</Layout>