---
import FooterCTA from "../components/FooterCTA/FooterCTA.astro";
import Header from "../components/Header/Header.astro";
import PlanFeatures from "../components/Pricing/PlanFeatures/PlanFeatures.astro";
import Layout from "../layouts/Layout.astro"
import FooterComponent from "../components/Footer/FooterComponent.astro";

---

<Layout>
    <Header />
    <main>
        <div class="mt-12 md:mt-20 lg:mt-[5.125rem] mx-auto box-content max-w-screen-container px-6 md:px-10">
            <h1
                class="text-blue-sj text-center lg:text-start text-8 md:text-12 lg:text-14 leading-[1.125] md:leading-h2 lg:leading-none -tracking-25 md:-tracking-37 lg:-tracking-43">
                Pricing</h1>
        </div>

        <div class="mt-12 md:mt-17 lg:mt-18">
            <PlanFeatures />
        </div>

        <div class="mt-20 md:mt-25 lg:mt-24">
            <FooterCTA />
        </div>

        <div class="mt-20 md:mt-25 lg:mt-24">
            <FooterComponent />
        </div>
    </main>
</Layout>