---
import PrimaryLink from "../Buttons/PrimaryLink.astro";
import Logo from "../Logo/Logo.astro";

import MobileNav from "./MobileNav.astro";
---

<!-- Main / Desktop Header -->

<div class="bg-circle"></div>

<header class="box-content px-6 md:px-10 pt-10 flex items-center justify-start gap-16 max-w-[69.375rem] mx-auto">
    <a href="/">
        <Logo />
    </a>

    <nav class="hidden md:block overflow-x-hidden flex-grow z-20">
        <ul class="flex flex-row gap-10 text-blue-sj/70 items-center">
            <li class="text-center"><a
                    class="text-15p font-bold hover:text-blue-sj/100 focus-visible:text-blue-sj/100 motion-safe:transition-opacity"
                    href="/pricing">Pricing</a></li>
            <li class="text-center"><a
                    class="text-15p font-bold hover:text-blue-sj/100 focus-visible:text-blue-sj/100 motion-safe:transition-opacity"
                    href="/about">About</a></li>
            <li class="text-center"><a
                    class="text-15p font-bold hover:text-blue-sj/100 focus-visible:text-blue-sj/100 motion-safe:transition-opacity"
                    href="/contact">Contact</a></li>

            <li class="ml-auto">
                <PrimaryLink href="#">Schedule a Demo</PrimaryLink>
            </li>
        </ul>
    </nav>
</header>

<MobileNav />

<style lang="postcss">
    .bg-circle {
        position: absolute;
        left: 0;
        top: 0;

        width: 100%;
        overflow-x: hidden;
        z-index: -10;

        pointer-events: none;
    }

    .bg-circle::before {
        content: "";

        display: block;
        border-radius: 50%;

        position: relative;
        top: var(--circle-top);
        left: var(--circle-left);

        width: var(--circle-diameter);
        aspect-ratio: 1;
        background-color: theme('colors.blue.sj');
        opacity: 0.15;
    }
</style>