---
import PrimaryLink from "../Buttons/PrimaryLink.astro";
import Logo from "../Logo/Logo.astro";

import MobileNav from "./MobileNav.astro";
---

<!-- Main / Desktop Header -->

<div class="bg-circle"></div>

<header class="box-content px-6 md:px-10 pt-10 flex items-center justify-start gap-16 max-w-[69.375rem] mx-auto">
    <a href="/">
        <Logo />
    </a>

    <nav class="hidden md:block overflow-x-hidden flex-grow z-20">
        <ul class="flex flex-row gap-10 text-blue-sj/70 items-center">
            <li class="text-center"><a
                    class="text-15p font-bold hover:text-blue-sj/100 focus-visible:text-blue-sj/100 motion-safe:transition-opacity"
                    href="/pricing">Pricing</a></li>
            <li class="text-center"><a
                    class="text-15p font-bold hover:text-blue-sj/100 focus-visible:text-blue-sj/100 motion-safe:transition-opacity"
                    href="/about">About</a></li>
            <li class="text-center"><a
                    class="text-15p font-bold hover:text-blue-sj/100 focus-visible:text-blue-sj/100 motion-safe:transition-opacity"
                    href="/contact">Contact</a></li>

            <li class="ml-auto">
                <PrimaryLink href="#">Schedule a Demo</PrimaryLink>
            </li>
        </ul>
    </nav>
</header>

<MobileNav />

<style lang="postcss">
    :root {
        /* Header Circle (General) */
        --circle-diameter: 208vw;
        --circle-top-offset: 0.83;

        --circle-top: calc(var(--circle-diameter) * -1 * var(--circle-top-offset));
        --circle-left: 20vw;
    }

    @media screen(sm) {
        :root {
            --circle-diameter: 102vw;
            --circle-top-offset: 0.59;
            --circle-left: 66vw;
        }
    }

    @media screen(lg) {
        :root {
            --circle-diameter: clamp(0px, 54vw, 60rem);
            --circle-top-offset: 0.73;

            --circle-left: 56vw;
        }
    }

    body.index {
        /* Header Circle (Index Page) */
        --circle-diameter: 208vw;

        --circle-top-offset: 0.705;
        --circle-top: calc(var(--circle-diameter) * -1 * var(--circle-top-offset));

        --circle-left: calc((var(--circle-diameter) - 100vw) / -2);
    }

    @media screen(sm) {
        body.index {
            --circle-diameter: 124vw;
            --circle-top-offset: 0.698;
        }
    }

    @media screen(lg) {
        body.index {
            --circle-diameter: clamp(0px, 54vw, 60rem);
            --circle-top-offset: 0.22;

            --circle-left: 56vw;
        }
    }

    .bg-circle {
        position: absolute;
        left: 0;
        top: 0;

        width: 100%;
        overflow-x: hidden;
        z-index: -10;

        pointer-events: none;
    }

    .bg-circle::before {
        content: "";

        display: block;
        border-radius: 50%;

        position: relative;
        top: var(--circle-top);
        left: var(--circle-left);

        width: var(--circle-diameter);
        aspect-ratio: 1;
        background-color: theme('colors.blue.sj');
        opacity: 0.15;
    }
</style>