---
import Layout from "../../../layouts/Layout.astro";
import TextSection from "../../../components/About/TextSection/TextSection.astro";

---

<Layout>
    <TextSection title="Our Business">
        <p>At the core of our platform is the technical infrastructure APIs that connect consumers. Our innovative
            product provides key insights for businesses and individuals, as well as robust reporting for traditional
            financial institutions and developers.</p>
    </TextSection>
</Layout>