@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* BG Circle Position */
  --circle-diameter: 208vw;

  --circle-top: calc(var(--circle-diameter) * -0.705);
  --circle-left: calc((var(--circle-diameter) - 100vw) / -2);
}

@media screen(sm) {
  :root {
    --circle-diameter: 124vw;
    --circle-top: calc(var(--circle-diameter) * -0.698);
  }
}

@media screen(lg) {
  :root {
    --circle-diameter: clamp(0px, 54vw, 60rem);

    --circle-top: calc(var(--circle-diameter) * -0.22);
    --circle-left: 56vw;
  }
}

body {
  @apply bg-blue-bg;
}

h1,
h2,
h3,
h4 {
  @apply font-serif;
}

p {
  @apply text-15p leading-body;
}
