<h2 id="company-facts-heading" class="sr-only">PayAPI Company Facts</h2>
<div class="px-6 md:px-10 max-w-screen-container box-content mx-auto">
    <ul aria-labelledby="company-facts-heading"
        class="py-4 md:py-0 flex flex-col md:flex-row items-center gap-8 md:gap-3 lg:gap-8 border-blue-sj/25 border-t border-b md:border-none">
        <li class="md:basis-full md:border-blue-sj/25 md:border-t md:border-b md:py-4">
            <span class="sr-only">300+ Team Members</span>
            <div aria-hidden="true" class="flex flex-col items-center md:items-start">
                <span class="text-blue-sj/75 leading-[1.75]">Team Members</span>
                <span class="font-serif text-14 text-pink-dark leading-[1.29] -tracking-43">300+</span>
            </div>
        </li>

        <li class="md:basis-full md:border-blue-sj/25 md:border-t md:border-b md:py-4">
            <span class="sr-only">3 Offices in the US</span>
            <div aria-hidden="true" class="flex flex-col items-center md:items-start">
                <span class="text-blue-sj/75 leading-[1.75]">Offices in the US</span>
                <span class="font-serif text-14 text-pink-dark leading-[1.29] -tracking-43">3</span>
            </div>
        </li>

        <li class="md:basis-full md:border-blue-sj/25 md:border-t md:border-b md:py-4">
            <span class="sr-only">3 million + Transactions analyzed</span>
            <div aria-hidden="true" class="flex flex-col items-center md:items-start">
                <span class="text-blue-sj/75 leading-[1.75]">Transactions analyzed</span>
                <span class="font-serif text-14 text-pink-dark leading-[1.29] -tracking-43">3M+</span>
            </div>
        </li>
    </ul>
</div>