---
// TailwindCSS
import "../base.css";

export interface Props {
	title?: string;
	pageClass?: string;
}

const { title, pageClass } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="icon" type="image/x-icon" href="/favicon-32x32.png" />


	<!-- Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Public+Sans:wght@400;700&display=swap"
		rel="stylesheet">

	<title>{title ? title + " - " : ""}Frontend Mentor | PayAPI Website Challenge</title>
</head>

<body class={"overflow-x-hidden" + (pageClass ? " " + pageClass : "" )}>
	<div
		class="absolute top-0 left-0 right-0 bg-blue-mirage text-white-link-water p-4 flex justify-center z-50 -translate-y-full focus-within:-translate-y-0 motion-safe:transition-transform">
		<a href="#main-content"
			class="focus-visible:outline-dashed focus-visible:outline-white-link-water/75 focus-visible:outline-offset-4">Skip
			to main content</a>
	</div>
	<slot />
</body>

</html>