---
import CTAField from "../../components/CTAField/CTAField.astro";
import Layout from "../../layouts/Layout.astro";

---

<Layout>
    <div class="p-4">
        <CTAField name="test-cta" action="/fixtures/cta-field" placeholder="Enter email address" submitMessage="Schedule a Demo"></CTAField>
    </div>
</Layout>