---
import Layout from "../../layouts/Layout.astro";
import LogoGrid from "../../components/LogoGrid/LogoGrid.astro";
---

<Layout>
    <div class="p-6 text-blue-mirage">
        <h2 class="mb-4">Light</h2>
        <LogoGrid></LogoGrid>
    </div>


    <div class="p-6 bg-blue-mirage text-white-link-water">
        <h2 class="mb-4">Dark</h2>
        <LogoGrid />
    </div>
</Layout>