---
import Layout from "../../layouts/Layout.astro"

import SocialMediaLinks from "../../components/SocialMediaLinks/SocialMediaLinks.astro";
---

<Layout>
    <h1 class="px-4">Social Media Links</h1>

    <section class="p-4 bg-blue-mirage space-y-2">
        <SocialMediaLinks facebookURL="#" twitterURL="#" linkedInURL="#" />
    </section>

</Layout>